@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Color variables */
:root {
  --main-bg-color: hsl(0, 0%, 95%);
  --neutral-headings: hsl(0, 0%, 95%);
  --neutral-buttons: hsl(0, 0%, 95%);
  --neutral-text: hsla(0, 0%, 100%, 0.75);
  --primary-light: hsl(31, 77%, 52%);
  --primary-medium: hsl(184, 100%, 22%);
  --primary-dark: hsl(179, 100%, 13%);
}

body {
  background: var(--main-bg-color);
  color: var(--neutral-text);
  font-size: 15px;
}

/* General */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px 25px;
  font-family: "Lexend Deca", sans-serif;
}

section {
  padding: 50px;
}

section img {
  margin-bottom: 25px;
}

section p {
  margin-bottom: 25px;
  line-height: 1.5rem;
}

section h2 {
  font-family: "Big Shoulders Display", cursive;
  margin-bottom: 25px;
}

/* Section specifics */
#sedans {
  background: var(--primary-light);
  border-radius: 5px 5px 0 0;
}

#suvs {
  background: var(--primary-medium);
}

#luxury {
  background: var(--primary-dark);
}

/* General Buttons */
section .btn {
  text-decoration: none;
  background: var(--neutral-buttons);
  padding: 10px 30px;
  border-radius: 20px;
}

/* Section specific buttons */
.btn-light {
  color: var(--primary-light);
}

.btn-medium {
  color: var(--primary-medium);
}

.btn-dark {
  color: var(--primary-dark);
}
